@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;

}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #F5F5F5;
}
nav {
    margin: 24px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav button{
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 18px;   
}

/* Color */
.dark-1{
    color: #0E0E0E;
}