@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* shared css */
.btn-primary {
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 26px;
}

.section-title {
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

body {
    background-color: #F5F5F5;
}

nav {
    margin: 24px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav button {
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 18px;
}

.hero {
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    border-radius: 24px;
    margin: 20px 160px;
    padding: 80px 60px;
    margin-bottom: 0px;
}

.hero-title2 {
    color: #0E0E0E;
    opacity: 0.5;
    font-size: 24px;
}

.hero-title {
    font-size: 56px;
    margin: 20px 0px;
}

.hero button {
    padding: 17px 34px;
}

.pillars-section {
    margin: 80px 160px;
}

.pillars {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.pillar {
    border-radius: 16px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
}

.card-img {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}

.card-title {
    font-size: 20px;
    color: #0E0E0E;
    opacity: 0.8;
    margin-bottom: 12px;
}

.description {
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.7;
}

.vision-section {
    margin: 0px 160px;
}

.visions {
    margin: 32px 0px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.vision {
    padding: 32px;
    border-radius: 16px;
    border: none;
    min-height: 325px;
    position: relative;
}

.vision button {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.card-1 {
    background-color: rgb(84 144 245 / 20%);
}

.card-2 {
    background-color: #C6E4D6;
}

.card-3 {
    background-color: #F7EBCF;
}

.btn-1 {
    background-color: #5490F5;
}

.btn-2 {
    background-color: #09A15C;
}

.btn-3 {
    background-color: #FFC239;
}

.quotes {
    margin: 32px 160px;
    margin-bottom: 0px;
    padding: 48px 24px;
    background-image: url(../assets/quote-bg.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 25px 25px;
    border-radius: 16px;
}

.opinion-section {
    margin: 80px 160px;
    margin-bottom: 0px;
}

.questions {
    padding: 32px;
    background-color: white;
    border-radius: 16px;
}

.questions-table {

    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 100%;
    border-collapse: collapse;
}

.questions-table thead th {
    padding: 24px;
    font-size: 20px;
    color: #0E0E0E;
    border: none;
    background-color: #C6E4D6;
}

.questions-table th,
td {
    border: 2px solid rgba(14, 14, 14, 0.15);
    text-align: start;
}

.questions-table tr h4 {
    padding: 36.5px 24px;
    font-size: 16px;
    color: #0E0E0E;
}

.answer {
    text-align: center;
}

.questions-table select {
    margin: 24px;
    padding: 14px 10px;
    background-color: rgba(9, 161, 92, 0.15);
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #0E0E0E;
    border-radius: 6px;
    text-align: center;
    text-align-last: center;
    color: #0E0E0E;
}

.news-section {
    margin: 80px 160px;
}

.news-section-des {
    margin-bottom: 32px;
}

.news-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.news-card {
    padding: 48px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
}

.news-img {
    border-radius: 24px;
    max-width: 408px;
    max-height: 306px;
}

.news-title {
    font-size: 32px;
    color: #0E0E0E;
    opacity: 0.8;
}

.aljazeera {
    margin: 12px 0px;
}

.date-time {
    margin-bottom: 12px;
}

.date {
    margin-right: 12px;
}

.news-card button {
    margin-top: 32px;
}

.donate {
    text-align: center;
    margin: 0px 160px;

}

.donate-desc {
    margin: 26px auto;
}

.amounts {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 24px;
    margin: 32px auto;
}

.amount {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    border-radius: 16px;
    background-color: white;
}

.other-amount {

    margin-right: 124px;
    margin-left: 124px;
    margin-bottom: 32px;

}

.other-amount input {
    font-size: 20px;
    padding: 20px 40px;
    text-align: center;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 100%;      
    box-sizing: border-box;
}
.sub{
    margin: 80px 160px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.sub-contents{
    padding: 80px 265px;
    text-align: center;
}
.email-section{
    margin: 24px auto;
    display: flex;
}
.email-section input{
    flex: 1;
    padding: 18px 40px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    font-size: 16px;
}
.email-section button{
    border-radius: 0px 8px 8px 0px;
}
footer{
    background-color: white;
    text-align: center;
    padding: 50px;
}
footer h1{
    margin-bottom: 64px;
}
footer img{
    margin: auto 23px;
}

/* Color */
.dark-1 {
    color: #0E0E0E;
}